<br>
<ol>
  <li>
    Zabawa na Pazylu polega na rozwiązywaniu zagadek i innych zadań logicznych, przy użyciu własnego intelektu oraz
    dostępnych źródeł wiedzy.
  </li>
  <ol>
    <li>Dozwolone jest wspólne rozwiązywanie zagadek, z zastrzeżeniem pkt 2. i 3.</li>
    <li>Przekazywanie podpowiedzi i haseł innym osobom oraz publikowanie gotowych haseł i podpowiedzi w sieci i poza nią
      są zabronione. Za takie praktyki konta mogą być blokowane lub usuwane bez ostrzeżenia i wyjaśnień.
    </li>
    <li>Nie jest dozwolone korzystanie z gotowych podpowiedzi i haseł uzyskanych od innych osób. W przypadku wykrycia
      takich praktyk, użytkownik zostanie ukarany usunięciem z Rankingu Graczy oraz blokadą możliwości dodawania
      własnych zadań. Użytkownik ma prawo ubiegać się o cofnięcie kary najwcześniej po upływie 100 dni od jej nałożenia,
      pod warunkiem wzorowego zachowania i stosowania się do Regulaminu.
    </li>
    <li>W przypadku ponownego złamania przez użytkownika postanowień pkt 3., konto użytkownika może zostać zablokowane
      lub usunięte.
    </li>
  </ol>

  <br>

  <li>Użytkownicy, po spełnieniu odpowiednich kryteriów, mogą dodawać własne zagadki i zadania logiczne. Kryteria
    pozwalające na dodanie zagadki są zależne od ilości zdobytych punktów i stażu użytkowników i zmieniają się wraz z
    rozwojem strony www.pazyl.pl . Zagadka autorstwa osoby nie spełniającej wymogów pozwalających na dodawanie zagadek,
    nie może zostać zamieszczona również przez inną osobę, która spełnia wyżej wymienione wymogi.
  </li>
  <ol>
    <li>Autor strony www.pazyl.pl nie ponosi odpowiedzialności za zagadki zamieszczane przez innych użytkowników strony.
      Całkowitą odpowiedzialność za treści zawarte w zagadce ponosi autor zagadki
    </li>
    <li>Autor zagadki nieodpłatnie przekazuje prawa autorskie do wykorzystania zagadki na stronie www.pazyl.pl. Zagadka
      zaakceptowana nie może zostać usunięta przez autora zagadki.
    </li>
    <li>Zabronione jest zamieszczanie w zagadkach treści naruszających prawa autorskie osób trzecich.</li>
    <li>Autorzy są zobowiązani zadbać o to, aby zagadki były możliwe do rozwiązania nie tylko obecnie, ale i w
      przyszłości. Nie należy stosować w zagadkach linków do zewnętrznych stron, jeśli zamieszczone tam treści mogą ulec
      zmianie lub zostać utracone. Jeśli autor mimo wszystko decyduje się na podpowiedź w formie linku, ma obowiązek
      pilnować jego aktualności i poprawnego działania.
    </li>
    <li>Administrator może nie zaakceptować dowolnej zagadki jeśli uzna, że nie nadaje się ona z jakichkolwiek względów
      do publikacji na stronie www.pazyl.pl
    </li>
    <li>Administrator może dokonywać zmian w zaakceptowanej zagadce jeśli uzna, że narusza ona prawo, dobre obyczaje lub
      w celu korekty technicznej.
    </li>
    <li>Zagadki, których rozwiązanie nie angażuje więcej niż jednej pary komórek mózgowych lub jest powszechnie uważane
      za zbyt infantylne, decyzją administratora mogą zostać usunięte.
    </li>
    <li>Autor zagadki może dokonywać dowolnych zmian w zagadce pod warunkiem, że po korekcie spełnia ona wymogi
      Regulaminu.
    </li>
    <li>Zasady dodawania zagadek są szczegółowo opisane w dziale "Dodaj swoją zagadkę".</li>
  </ol>

  <br>

  <li>Użytkownicy mają do dyspozycji forum.</li>
  <ol>
    <li>Fora pod zagadkami służą do wymiany subtelnych podpowiedzi i wskazówek dotyczących zagadek. Pisanie gotowych
      haseł i podpowiedzi jest zabronione.
    </li>
    <li>Staramy się nie zadawać pytań, na które już są odpowiedzi.</li>
    <li>Nie dodajemy nowych tematów jeśli jest już wątek dotyczący danej zagadki. Wchodzimy w ten wątek i klikamy na
      ODP., czyli "Odpowiedz na tę wiadomość".
    </li>
    <li>Nazwa tematu w zagadkach z poziomami powinna wyglądać tak: "Zagadka X", gdzie X to numer zagadki.</li>
    <li>Nazwa tematu w zagadkach graczy powinna wyglądać tak: "Zagadka XXX - autor", gdzie XXX to numer zagadki, a autor
      to twórca zagadki.
    </li>
    <li>Na Shout Box i Forum Ogólnym prowadzimy rozmowy, a nie udzielamy instrukcji rozwiązania zagadki.</li>
    <li>Nie obrażamy innych, nie piszemy z włączonym CAPS LOCKIEM, nie reklamujemy treści pornograficznych, narkotyków,
      nie spamujemy, czyli stosujemy się do netykiety.
    </li>
    <li>Wszystkie posty które naruszają regulamin mogą być zmieniane lub usuwane.</li>
  </ol>

  <br>

  <li>Niedozwolone jest wszczynanie kłótni, prowokowanie do nich lub systematyczne w nich uczestnictwo, a także inne
    zachowania mające na celu obrażanie lub ośmieszanie innych osób.
  </li>

  <br>

  <li>Każdy zarejestrowany użytkownik strony www.pazyl.pl ma przypisaną skrzynkę pocztową, która służy do wymiany
    prywatnych wiadomości, tzw PM.
  </li>
  <ol>
    <li>Nie jest dozwolone rozsyłanie spamu za pośrednictwem poczty PM.</li>
    <li>Nie jest dozwolone pozyskiwanie i przekazywanie gotowych haseł i podpowiedzi za pośrednictwem poczty PM (patrz
      pkt 2. i 3. części I. Regulaminu) .
    </li>
    <li>Zanim wyślemy do innego użytkownika drogą PM prośbę o pomoc w rozwiązaniu zagadki, bądź sami odpowiemy na taką
      wiadomość, pomyślmy o innych graczach potrzebujących podpowiedzi. Postępujmy uczciwie i po koleżeńsku, zadając
      pytania i odpowiadając na forum. Prośby o pomoc za pośrednictwem PM traktujmy jako ostateczność i sięgajmy po nią
      tylko w uzasadnionych przypadkach.
    </li>
    <li>Autorzy otrzymujący PM-y w sprawie zagadek powinni dać równe szanse wszystkim zamieszczając odpowiedź na forum,
      a w razie potrzeby edytować swoją zagadkę, by była możliwa do rozwiązania bez pozaforumowych konsultacji.
    </li>
    <li>Użytkownicy są proszeni o zgłaszanie moderatorom lub administratorom przypadków wymienionych w pkt 1. i 2.
  </ol>

  <br>

  <li>Nazwy użytkowników (nicki) które są obraźliwe, naruszają normy społeczne, uczucia religijne, dobry smak lub
    Regulamin Pazyla będą usuwane trwale bez ostrzeżenia. Konta użytkowników rejestrujących się w celu rozsyłania spamu
    również będą trwale usuwane.
  </li>

  <br>

  <li>Za niestosowanie się do Regulaminu w punktach innych niż 2, 3 i 4. części I, administratorzy i moderatorzy mają
    prawo udzielać ostrzeżenia w postaci żółtej kartki.</li>
  <ol>
    <li>Żółta kartka może zostać anulowana na prośbę użytkownika najwcześniej po 100 dniach od jej nałożenia, pod
      warunkiem wzorowego zachowania i stosowania się do Regulaminu.</li>
  <li>W przypadku złamania Regulaminu w okresie posiadania żółtej kartki, użytkownik może być ukarany drugą żółtą
  kartką, a termin możliwego anulowania przesunie się automatycznie o kolejne 100 dni, licząc od daty udzielenia drugiego ostrzeżenia.
  Trzecie ostrzeżenie w tym czasie spowoduje usunięcie konta użytkownika. </li>
  </ol>

  <br>

  <li>Administratorzy mają prawo do wszelkich działań na stronie, które uznają za właściwe dla dobra atmosfery i
    funkcjonowania strony Pazyl.pl.</li>

  <br>

  <li>W sprawach nieuregulowanych niniejszym Regulaminem stosuje się odpowiednie przepisy obowiązującego prawa.</li>

  <br>

  <li>Ostateczna interpretacja Regulaminu należy do autora strony www.pazyl.pl</li>

  <br>

  <li>Logowanie się i korzystanie ze strony www.pazyl.pl oznacza akceptację niniejszego Regulaminu.</li>

</ol>
