.list-group-item-success {
  background-color: #545454;
  color: white;
  text-align: center;
  font-size: 125%;
}

.list-group-item-success:hover {
  background-color: #767676;
  color: white;
  font-size: 125%;
}

#table-header{
  background-color: grey;
  font-size: 125%;
  color: white;
  text-align: center;
}
