<div class="container" style="alignment: center">
  <div class="row customRow">
    <form class="form-horizontal col-sm-8 col-sm-offset-4">
      <div class="form-group">
        <label for="inputUserName" class="control-label col-sm-2">Użytkownik</label>
        <div class="col-sm-6">
          <input class="form-control" placeholder="Nazwa użytkownika lub email" type="text" id="inputUserName" style="max-width: 60%">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="control-label col-sm-2">Hasło</label>
        <div class="col-sm-6">
          <input class="form-control" placeholder="Hasło" type="password" id="inputPassword" style="max-width: 60%">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <div class="btn-toolbar">
            <div class="btn-group">
              <button type="submit" class="btn btn-default" (click)="performLogin()">Zaloguj</button>
            </div>
            <div class="btn-group">
              <button type="submit" class="btn btn-default" routerLink="/createaccount">Załóż konto</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
