<div class="container"
style="padding-top: 3%; font-size: 150%">
  <div class="row customRow">
    <form class="form-horizontal col-xs-offset-2 col-xs-8">
      <h1>Twoje konto</h1>
      <div class="form-group">
        <label for="comment" class="control-label col-xs-3">Nick</label>
        <div class="col-xs-7">
          <p id="comment"
             rows="5"
             name="comment">
            Mihix</p>

        </div>
      </div>
      <div class="form-group">
        <label for="emailInput" class="control-label col-xs-3">Adres email</label>
        <div class="col-xs-7">
          <span id="emailInput"
                 class="col-xs-2"
                name="emailInput">
            email
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
