<div class="container">
  <div class="col-xs-10 col-xs-offset-1">
    <table id="ranking-table" class="table table-hover table-responsive">
      <thead>
      <tr id="table-head" style="text-align: center">
        <th>Miejsce</th>
        <th>Nick</th>
        <th>Ogólna liczba punktów</th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr class="table-row" *ngFor="let user of topTenList.topTen">
        <td>{{user.position}}</td>
        <td>{{user.nick}}</td>
        <td>{{user.points}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
